@charset "utf-8";
/*@import url("MQs.css");*/
:root{
    
    --backcolor:#fdfcf8;
    --headercolor:#770206;
    /*#FDFCF8, #770206*/
}

body {
    color: 0;
    background-color: var(--backcolor);
    text-align: left;
}
body ul {
    margin-top: -0.6em;
    margin-bottom: 0.3em;
}

body ul li {
    margin-left: 9%;
    list-style-type: none;
    margin-top: 0px;
    padding-bottom: 9px;
}


body p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 9%;
    padding-right: 4%;
    white-space: normal;
}
body header {
    padding-right: 5.2%;
    padding-bottom: 1rem;
}


h2  {
    margin-left: 4%;
    padding-left: 5%;
    color: var(--headercolor);
}
/* CSS Document */

h3 {
    font-style: italic;
    padding-bottom: 0px;
    font-weight: normal;
    color:var(--headercolor);
    margin-left: 4%;
    margin-right: 10%;
    padding-left: 5%;
    line-height: 1;
}
h4 {
    font-size: 1rem;
}
hr {
    width: 10%;
}

a{color: black}

.Room #DocTitle {
    text-align: center;
    color: var(--headercolor);
    font-size: 1.6rem;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: 600;
    padding-top: 1.5%;
    margin-left: 0px;
    padding-right: 2rem;
    padding-bottom: 0rem;
}
.Room #DocSubtitle {
    color: var(--headercolor);
    font-size:1.1rem;
    font-weight: bold;
    line-height:122%;
    text-align: center;
    border-top: 5.5rem;
  

}
.Room #DocByLine {
    color: var(--headercolor);
    font-size: 0.5rem;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    padding-top:0px;
    margin-left: 9%;
    padding-right: 0rem;
    border-top-left-radius: 0px;
    text-align: left;
    left: 0%;
    margin-top: -1.5rem;
    margin-right: 0rem;
    padding-bottom: 2.3rem;
}

.Room ul li {
    clear: none;
    list-style-type: none;
    margin-left: 9%;
    margin-right: 10%;
    padding-left: 0px;
    list-style-position: inside;
}
.Room #BreakoutPanel {
   border:1px; 
   border-style: solid ;
   margin-left: 14%;
   margin-bottom: 3%;
   padding-left: 4%;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-right: 4%;  
   margin-right: 10%;
   border-color: darkgrey;
   background-color: white;
   font-size: .9rem;
 
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-left: 5rem;
    padding-bottom: 1.2rem;
    padding-right: 3rem;
}

.dropdown .dropbtn {
    font-size: 1.8rem;
    border: none;
    outline: none;

    
    padding-left: 0;
    padding-bottom: 0%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    color: var(--headercolor);
}

.dropdown:hover .dropbtn {
  background-color: var(--backcolor);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--backcolor);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--headercolor);
    padding: .8rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.2rem;
}

.dropdown-content a:hover {
    background-color: var(--backcolor);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.RQs p {
    padding-left: 8%;
    margin-left: 3%;
    padding-right: 10%;
    white-space: normal;
    border-width: 0px;
    border-style: dotted;
  
}


.RQs ul {
    list-style-type: none;
    padding-right: 18%;
    margin-left: 1%;
    margin-top: -0.6em;
}
.RQs ul li {
    padding-bottom: 9px;
    padding-left: 2%;
}
.Wisdom {
    text-align: center;
    top: 6px;
    color: var(--headercolor);
    font-size: small;
    border: thin solid var(--headercolor);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 6%;
}
.Wisdom p {
    font-variant: small-caps;
    font-size: large;
    padding-right: 3em;
}

body footer {
    text-align: center;
    top: auto;
    padding-top: 20px;
}
body num {
    font-size: 0.9rem;
    vertical-align: super;
}
body num2 {
    visibility: hidden;
	font-size: 0.9rem;
    vertical-align: super;
}
body {
}
body figcaption {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.tooltip {
    position: relative;
    border-bottom: 1.3px dashed;

}
.tooltipcontent{

	visibility: hidden;
}
.tooltiptext {
    position: absolute;
    top: 1em;
    left: -9vw;
    z-index: 1;
    background-color: var(--backcolor);
    -webkit-box-shadow: 2px 2px 5px #BDB2B2;
    box-shadow: 2px 2px 5px #BDB2B2;
    text-align: left;
    color:black
    font-weight: normal;
    font-size: .9rem;
    
    width: 20vw;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 1.0rem;
}
.tooltip:hover .tooltipcontent{
	/*position: absolute;*/
    visibility: visible;
    opacity: 1;
}
.tooltipimage {
    position: absolute;
    -webkit-box-shadow: 14px 12px 5px #BDB2B2;
    box-shadow: 14x 12px 5px #BDB2B2;
    padding-left: 0%;
    margin-left: -203%;
}


@media (max-width : 488px ){
body num2 {
    font-size: 0.1rem;
    vertical-align: middle;
    color: #FDF7EA;
}
	html{
		font-size:  13px
	}

    .Room #DocByLine {
         margin-top: -.2rem;
    }

	.dropdown{
        padding-right: 0%;
    }

    .dropdown .dropbtn {
    font-size: 2.2rem;
/*    color: #00FF54; */
	}
	.dropdown-content a {
    padding: .8rem 1rem;
    font-size: 1.2rem;
	/*color: #00FF54;*/
	}
body header {
    padding-right: 3%;
    }

}

@media (max-width: 558px){
body header {
    padding-right: 3%;
}
body num2 {
    font-size: 0.1rem;
    vertical-align: middle;
    color: #FDF7EA;
}
    .Room #DocSubtitle {
        font-size: .9rem;
    }
    .Room #DocTitle {
        font-size:1.1rem;
    }
    .Room #DocByLine {
         margin-top: -.2rem;
    }
	.dropdown{
        padding-right: 0%;
    }
}


@media (min-width: 950px){
body {
    margin-left: 17%;
    margin-right: 18%;
}
}

@media (min-width: 1240px){
    .Room #DocTitle {
    font-size: 2.1rem;
}
